spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/skyhigh
    username: skyhigh
    password: skyhigh

  data:
    redis:
      host: redis
      port: 6379

  rabbitmq:
    host: rabbitmq
    port: 5672
